<h1>Hello <%= @user.first_name %></h1>
<p><%= @user.email %></p>





 <!-- Button (call-to-action) -->
<%= link_to "Add Stallion", new_user_stallion_path(@user.id), class: "navbar-wagon-item navbar-wagon-button btn" %>

<div class="container">
  <div class="row add-margin-top">
    <% @user.stallions.all.each do |stallion| %>
    <div class="col-xs-12 col-sm-3">

      <!-- %= link_to stallion_path(stallion) do %> -->
      <div class="card" style="background-image: url('<%= image_url stallion.photo %>'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">

        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= stallion.name %></h2>
          <p><%= stallion.category %>  -  <%= stallion.breed %></p>
        </div>
<!--         <a href="#" class="card-link"></a> -->
      </div>

       <!-- end %> -->
    </div>
    <% end %>
  </div>
</div>
